#!/usr/bin/env bash

# prompt colours
export PS1="\[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h:\[\033[33;1m\]\w\[\033[32m\]\$(parse_git_branch)\[\033[00m\]$"
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

alias ls='ls -GFh'
alias ll='ls -al'
alias ..='cd ..'
alias sshuw='ssh yc6xu@linux.student.cs.uwaterloo.ca'

if [ -f ~/.git-completion.bash  ]; then
  . ~/.git-completion.bash
fi

# Git branch in prompt
parse_git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}


